spring:
  application:
    name: zappa
  datasource:
    url: jdbc:postgresql://localhost:5432/zappa
    username: zappa_user
    password: zappa_password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          time_zone: UTC
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
    enabled: true
    drop-first: false
  thymeleaf:
    cache: false
    mode: HTML