server:
  port: ${SERVER_PORT:6886}
  tomcat:
    connection-timeout: ${SERVER_TOMCAT_CONNECTION_TIMEOUT:20000} # 20 seconds
    keep-alive-timeout: ${SERVER_TOMCAT_KEEP_ALIVE_TIMEOUT:20000} # 20 seconds
    max-keep-alive-requests: ${SERVER_TOMCAT_MAX_KEEP_ALIVE_REQUESTS:100}
  servlet:
    session:
      timeout: ${SERVER_SERVLET_SESSION_TIMEOUT:30m} # 30 minutes

spring:
  application:
    name: ${SPRING_APPLICATION_NAME:zappa}
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/zappa}
    username: ${SPRING_DATASOURCE_USERNAME:zappa_user}
    password: ${SPRING_DATASOURCE_PASSWORD:zappa_password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:none}
    show-sql: ${SPRING_JPA_SHOW_SQL:true}
    properties:
      hibernate:
        format_sql: ${SPRING_JPA_HIBERNATE_FORMAT_SQL:true}
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          time_zone: UTC
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
    enabled: ${SPRING_LIQUIBASE_ENABLED:true}
    drop-first: ${SPRING_LIQUIBASE_DROP_FIRST:false}
  thymeleaf:
    cache: ${SPRING_THYMELEAF_CACHE:false}
    mode: HTML
  servlet:
    multipart:
      enabled: ${SPRING_SERVLET_MULTIPART_ENABLED:true}
      max-file-size: ${SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE:12MB}
      max-request-size: ${SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE:12MB}

# Application configuration
app:
  upload:
    dir: ${APP_UPLOAD_DIR:uploads}